@import "layout";

body {
  background: #0a0118;
  color: white;
}

// roadmap

.main-timeline-section {
  position: relative;
  width: 100%;
  margin: auto;
  height: 300px;
}
// .main-timeline-section .timeline-start,
// .main-timeline-section .timeline-end {
//   position: absolute;
//   background: #a54bc6;
//   border-radius: 100px;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 30px;
//   height: 30px;
// }
.main-timeline-section .timeline-end {
  right: 0px;
}
.main-timeline-section .conference-center-line {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border-top: 5px dotted #15174a;
}
.timeline-article {
  width: 20%;
  position: relative;
  min-height: 300px;
  float: right;
}
.timeline-article .content-date {
  position: absolute;
  top: 30%;
  left: -31%;
  font-size: 18px;
  span {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
  }
}
.timeline-article .meta-date {
  position: absolute;
  top: 50%;
  left: -31%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #a54bc6;
  border: 1px solid #a54bc6;
  box-shadow: 0px 0px 23px 7px #a54bc6;
}
.timeline-article .content-box {
  //   box-shadow: 2px 2px 4px 0px #c1c1c1;
  border: 0px solid #a54bc6;
  border-radius: 5px;
  //   background-color: #fff;
  width: 180px;
  position: absolute;
  top: 61%;
  left: -80px;
  ul {
    li {
      font-size: 22px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
// .timeline-article-top .content-box:before {
//   content: " ";
//   position: absolute;
//   left: 6%;
//   transform: translateX(-50%);
//   top: -20px;
//   border: 10px solid transparent;
//   border-bottom-color: #a54bc6;
// }
.timeline-article-bottom .content-date {
  top: 60%;
}
.timeline-article-bottom .content-box {
  top: -10%;
}
// .timeline-article-bottom .content-box:before {
//   content: " ";
//   position: absolute;
//   left: 6%;
//   transform: translateX(-50%);
//   bottom: -20px;
//   border: 10px solid transparent;
//   border-top-color: #a54bc6;
// }
@media (max-width: 460px) {
  body {
    display: none;
  }
}

// Roadmap Two-------------------------------------------------------------

.timeline {
  width: 100%;
  height: 480px;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
  background: #0099ff;
  overflow: auto;
  display: flex;
}
.timieline-title {
  font-size: 1.5em;
  font-weight: bold;
}
.timeline-content {
  max-width: 300px;
  height: 200px;
  padding: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  align-self: flex-start;
  background: #fff;
  position: relative;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.timeline-content:before {
  position: absolute;
  width: calc(100% + 14px);
  height: 4px;
  top: calc(100% + 10px);
  background: #fff;
  content: "";
  left: -7px;
  border-radius: 5px;
}

.timeline-content:after {
  position: absolute;
  width: 4px;
  height: 25px;
  top: 100%;
  left: calc(50% - 10px);
  background: #fff;
  content: "";
}
.timeline-period {
  position: absolute;
  top: calc(100% + 25px);
  background: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  left: calc(50% - 60px);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.timeline-period:before {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -20px;
  left: calc(50% - 6px);
  z-index: 2;
}

.timeline-content:nth-child(even) {
  align-self: flex-end;
}
.timeline-content:nth-child(even):before {
  top: -15px;
}
.timeline-content:nth-child(even):after {
  top: -25px;
}
.timeline-content:nth-child(even) .timeline-period {
  top: -60px;
}
.timeline-content:nth-child(even) .timeline-period:before {
  top: calc(100% + 2px);
}
